body {
    margin: 0;
    padding: 0;
    background-image:url(https://free4kwallpapers.com/uploads/originals/2022/06/08/rick-n-morty-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;

}
.fondo{
padding: 0px;
color: white;
text-align: center;
}


.center-box {
    background-color: rgba(255, 255, 255, 0.644);
    width: 500px;
    height: 330px;
    box-shadow: 0 5px 10px rgba(165, 165, 173, 0.604);
    text-align: center;
    padding: 0; 
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.image-container {
    width: 100%;
    position: relative;
}

.image-container h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.image-container p {
    position: absolute;
    top: 60%; 
    left: 10%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    text-align: left;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.login-container {
    padding: 50px;
    padding-top:30px;
}

.login-container h2 {
    margin: 0;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom:0;
    font-family: 'Poppins', sans-serif;
}

 
.login-container input {
    width: 100%;
    padding:10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
    top: 10px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Poppins', sans-serif;
    color: #000000;
    
}
.login-container input::placeholder {
    color: #000000;
    text-decoration-color: #ffffff;
    position: inherit;
}
.login-container button {
    background-color: #A5CD07;
    color: rgb(252, 248, 248);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 8px;
    top: 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;

}
.forgot{
    position: absolute;
    bottom: 4%;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.box {
    position: absolute;
    right: 35%;
    bottom: 6%;
    
    
}  
.remember{
    display: flex;
    width: 95px;
    border: none;
    position: absolute;
    bottom: 4%;
    font-size: 12px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    right: 15%;
}



.foto{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.todocont{ 
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    background-color: transparent;

}

.diveentrada{

    width: 240px;
    background-color: transparent
}

.primercontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.mensaje { 
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center; 
    margin-left: 90px;      
    height: 10px;
    width: 250px;
    font-size: 10px;
    color: rgb(175, 16, 16);

}


a:link, a:visited, a:active {
    text-decoration:none;
    color: rgb(0, 0, 0);
}

.abajo {
    background-color: aquamarine;
}

